<%- include('./partials/header')  %> 
<%- include('./partials/navbar')  %> 

<body>
    <h1>Index</h1>
    <a href="perguntar">
        <button class="btn btn-success">Perguntas</button>
    </a>
</body>

<%- include('./partials/footer')  %> 
